//@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import "bootstrap";

body {
    margin: 0;
    padding: 0;
}

#workspace-viewport {
    background-color: #000;
    position: relative;
    overflow: hidden;
}

#workspace {
    -ms-touch-action: none;
    touch-action: none;
}
#canvas-overlay {
    background-color: #2e9;
    background-color: hsla(0, 0%, 40%, 1);
    position: absolute;
    top: 0;
    left: 0;
}

.background-lines {
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        rgba(255, 255, 255, .05) 25%,
        rgba(255, 255, 255, .05) 26%,
        transparent 27%,
        transparent 74%,
        rgba(255, 255, 255, .05) 75%,
        rgba(255, 255, 255, .05) 76%,
        transparent 77%, transparent),

    linear-gradient(
        90deg,
        transparent 24%,
        rgba(255, 255, 255, .05) 25%,
        rgba(255, 255, 255, .05) 26%,
        transparent 27%,
        transparent 74%,
        rgba(255, 255, 255, .05) 75%,
        rgba(255, 255, 255, .05) 76%,
        transparent 77%,
        transparent);
    background-size: 50px 50px;
}

#control-bar {
    padding: 10px 0px 30px 10px;
    background-color: hsla(0, 0%, 40%, 1);
}

.cNode {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 2px solid hsla(0, 0%, 30%, 1);
    border-radius: 2px;
    min-width: 80px;
    -webkit-transform: matrix(1,0,1,0,0,0);
    transform: matrix(1,0,1,0,0,0);
    color: black;
    /* This keeps the scaling reference in the top left corner */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
}

.cHeader {
    background-color: #99c000;
    border-bottom: 2px solid hsla(0, 0%, 30%, 1);
    height: 3em;
    padding: 4px 4px 4px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nodeTitle {
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    width: 100%;
}

/*----------------------------------------------------------------------------*/
/* Dropdown toggle switch */
/*----------------------------------------------------------------------------*/
.cNode-dropdown {}
.btn-icon-bar {
    background-color: #99c000;
}
.btn-icon-bar:hover {
    background-color: #89AB07;
}
.dropdown-toggle .icon-bars-button{
  display: inline-block;
  vertical-align: middle;
}
.icon-bar {
  margin-bottom: 3px;
  display: block;
  width: 20px;
  height: 3px;
  background-color: #333;
  border-radius: 1px;
}
/*----------------------------------------------------------------------------*/

.cInputContainer {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.cInput {
    border-bottom: 1px solid;
}

.cOutputContainer {
    border-top: 1px solid black;
    margin-top: 20px
}
.cOutput {
    border-top: 1px solid;
    text-align: right;
}
/*----------------------------------------------------------------------------*/
/* Option */
/*----------------------------------------------------------------------------*/
.cOptionContainer {
}
.cOption {
    border: 1px solid;
    border-left: none;
    border-right: none;
}
.optionName {}
.optionValue {
    font-style: italic;
    border: 1px solid white;
    width: 80px;
}
.optionValue:focus {
    border: 1px solid black;
}
label.optionName {
    font-weight: 100;
    margin: 0;
}
label.optionName input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
    margin: 0 5px 0 10px;
}
.optionBooleanValue {}
.cOptionBoolean {
    border: 1px solid;
    border-left: none;
    border-right: none;
}
.cOption, .cOptionBoolean {
    padding: 2px 4px;
}
/*----------------------------------------------------------------------------*/

.cInput, .cOutput {
    padding: 2px 4px;
}
.cInput {
    position: relative;
    padding-left: 15px;
}
.cOutput {
    position: relative;
    padding-right: 15px;
}

.output-connector {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(100% - 8px);
    float: left;
}
.input-connector {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(0% - 8px);
    float: left;
}
.connector-default {
    border: 1px solid black;
    background-color: hsla(0, 0%, 35%, 1);
}

.typedValue {
    color: hsla(0, 0%, 50%, 1);
    font-style: italic;
}

/*.endpoint {
    margin-top: 10px;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    background-color: black;
}*/
